header {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  background-color: #35083e;
  display: grid;
  grid-template-areas:
    "logo"
    "nav";
}

.logo {
  grid-area: logo;
  width: 100%;
  height: 100px;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

img.logo__header {
  max-height: 100px;
}

.navigation {
  grid-area: nav;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

.navigation ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.navigation ul li {
  display: inline-block;
  height: 50px;
}
.navigation ul li a {
  font-size: 18px;
  color: white;
  margin: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navigation ul li a:hover {
  text-decoration: underline;
}

.hamburger__label,
#hamburger__menu {
  display: none;
}

/* MEDIA Queries */

@media (max-width: 1200px) {
  .navigation ul li a {
    font-size: 18px;
    color: white;
    margin: 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .hamburger__label,
  #hamburger__menu {
    display: none;
  }
}

@media (max-width: 991px) {
  .navigation ul li a {
    font-size: 16px;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .navigation ul li {
    display: inline-block;
    height: 50px;
  }

  .navigation,
  #hamburger__menu {
    display: none;
  }

  .hamburger__label {
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 28px;
    position: absolute;
  }

  #hamburger__menu:checked ~ nav {
    display: block;
  }
}

@media (max-width: 767px) {
  .navigation,
  #hamburger__menu {
    display: none;
  }

  .hamburger__label {
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 28px;
    position: absolute;
  }

  #hamburger__menu:checked ~ nav {
    display: block;
  }
}
