.payment__container {
  width: 80%;
  height: 600px;
  border: red 1px solid;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.billing__form {
  width: 30%;
  border: black 1px solid;
}

.payment__form {
  width: 30%;
  border: blue 1px solid;
}

.billing__form input[type="text"] {
  width: 80%;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

.payment__form input[type="text"] {
  width: 80%;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

.payment__container h1 {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
}

.payment__container h2 {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
}
