:root {
  --purple-main: #58296b;
  --blue-main: #0d3676;
  --darkgray-main: #f0f0f0;
  --lightgray-main: #f8f8f8;
  --font-heading: "Montserrat", sans-serif;
  --font-subhead: Roboto, "Helvetica Neue", sans-serif;
  --font-body: "Poppins", sans-serif;
}
